[Unit]
Description=magicarpi
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/magicarpi/magicarpi %I
Restart=always
Environment="MAGICARPI_DB=mysql://user:pass@localhost/magicarpi"

[Install]
WantedBy=multi-user.target
