[Unit]
Description=magicarpi
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/magicarpi/magicarpi %I
Restart=always

[Install]
WantedBy=multi-user.target
